@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
* {
    padding: 0;
    margin: 0;
    
    color: var(--textcolor);
    font-family: 'Cinzel', serif;;
}

body {
    background: #C8C6BF;
    --textcolor: #5D1B00;
    overflow-x: hidden;
}
#bodywrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 20vw 30vw 30vw 20vw;
    grid-template-rows: 20vh 60vh 20vh 30vh 40vh 40vh 40vh;

    background: #C8C6BF;
}
#navigationDiv {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background: #C8C6BF;
    z-index: 100;
    opacity: .8;
}
#logolink {
    margin-top: 2%;
    width: 11vw;
}
#logoimg {
    width: 100%;
}
#navigation {
    display: flex;
    gap: 60%;
    margin-right: 20%;
}
#gallericlick {
    background: none;
    border: none;

    display: flex;
    gap: 10px;
}
.paintIcon {
    width: 1.8vw;
}
.navlink {
    font-size: 1.4em;
    font-weight: 300;
    text-decoration: none;

    position: relative;
	display: inline-block;
	cursor: pointer;

    color: var(--textcolor);
}
.navlink:before{
    content: "";
    position: absolute;
    width: 0;
    height: 1.2px;
    background: var(--textcolor);
    bottom: -10px;
    transition: 0.4s;
    left:50%;
    transform: translateX(-50%);
}
/* .hide::after {
    content: '';
    position: absolute;
    bottom: 0;
    background: white;
    width: 100%;
    height: 20px;
} */
.navlink:hover:before {
    width: 100%;
}
.current:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.2px;
    background: var(--textcolor);
    bottom: -10px;
    left:50%;
    transform: translateX(-50%);
}
footer {
    grid-row: end;
    grid-column: 1 / end;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: 0 0 20px -5px black;
    padding: 1.2em;
    gap: 10px;

}.footerDiv {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 7px;
}
.emailText { 
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
}
.fotCol {
    display: flex;
    flex-direction: row;
    
    gap: 10px;
    align-items: center;

    align-self: flex-start;
    margin-left: 20%;
}
.ui_icon {
    width: 1.5vw;
}
.footerText {
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.2em;
}
.footerText:hover {
    color: rgba(255, 255, 255, 1);
}
#copyEmailDiv:hover {
    cursor: pointer;
}
.copy {
    scale: .6;
    position: relative;
    left: -1ch; top: -1ch;
}
.socialsDiv {
    align-self: flex-start;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 20%;
    width: 60vw;
    gap: 30%;

    border-top: solid 1px rgb(255, 235, 218);
    padding-top: 5px;
}
.socials {
    display: flex;
    gap: 30%;
}
.socialImg {
    width: 1.7vw;
    filter: contrast(80%);
    filter: brightness(80%);
    filter: saturate(80%);
    opacity: .8;
}
.socialImg:hover {
    opacity: 1;
    filter: contrast(100%);
    filter: brightness(150%);
    filter: saturate(150%);
    cursor: pointer;
}
.hText {
    font-size: 1.2em;
    color: rgb(255, 235, 218);

}
.displaywrapper {
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-top: 18%;
}
.sectionDisplay {
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}
.displayImg {
    width: 12vw;
    height: auto;

    box-shadow: 2px 2px 10px black;
}
.firstS {
    margin-left: 10vw;
}
.scrolldowndiv {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

    font-size: 1.5em;

    margin-left: 10%;
    margin-top: -3%;
}
.scroll {
    width: 42px;
}
.aboutMeDiv {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    
    display: flex;
    justify-content: center;
    flex-direction: column;  
    margin-left: 10%;
}
.aboutMe {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: absolute;
    top: 35%;

    font-size: 1.2em;
}
.aboutMe h1 {
    font-size: 2.2em;
    /* background:  linear-gradient(to bottom, #5d1b00, #6d2a11, #7d381e, #8e472c, #9e563a, #a86348, #b17156, #ba7e65, #be8c78, #c09a8a, #c2a89e, #c3b6b1); */
    background: var(--textcolor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -2px -2px 70px var(--textcolor);

    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color:var(--textcolor);
}
.aboutMe p {
    color: var(--textcolor);
}
.tantGimg {
    width: 25vw;
    position: absolute;
    top: 20%;
    left: 65%;
}
.contactBtn {
    width: 15vw;
    height: 7vh;
    border-radius: 224px;
    background: white;
    color: var(--textcolor);
    font-size: 1em;
    font-weight: bold;
    border: .1px solid black;

    box-shadow: 0 5px 15px -10px black;

    transition: all .2s ease-in;
}
#cnttext {
    color: var(--textcolor);
    transition: all .2s ease-in;
}
.contactBtn:hover, .contactBtn:active {
    background: var(--textcolor);
    transform: translate(3%);
    cursor: pointer;
}
.contactBtn:hover #cnttext {
    color: white;
    animation: slide 1.5s infinite;
}
@keyframes slide {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    20% {
        transform: translateX(-15px);
    }
    40% {
      transform: translateX(10px);
    }
    60% {
      transform: translateX(5px);
    }
  }

/* ARROW BOUNCER */
.arrow
{
  cursor: pointer;
  width: 32px;
  height: 32px;
  /**
   * Dark Arrow Down
   */
  background-image: url('images/down-arrow.png');
  background-size: contain;
}
.bounce {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.new_gallery {
    grid-column: 1 / 5;
    grid-row: 4 / 6;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.rowGallery {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.tavla {
    width: 240px;
    height: 240px;

    box-shadow: 2px 2px 20px -10px black;
}
.read-more-state {
    display: none;
  }
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: .25s ease;
  }
  .read-more-state:checked ~ .read-more-wrap .read-more-target {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
  .read-more-state ~ .read-more-trigger:before {
    content: 'LÄS MER';
  }
  .read-more-state:checked ~ .read-more-trigger:before {
    content: 'DÖLJ';
  }
  .read-more-trigger {
    cursor: pointer;
    display: inline-block;
    padding: 0 .5em;
    color: #666;
    font-size: 1em;
    line-height: 2;
    border: 1px solid #ddd;
    border-radius: .25em;

    transition: color .2s ease;
  }
  .read-more-trigger:hover {
    color: #fff;
  }
  .read-more-wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;

    font-size: 1em;
}
.read-more-wrap b {
    font-size: 1.3em;
}

.menu {
    display: none;
}
.hamburger {
    visibility: hidden;
}
.hiddenLogo {
    display: none;
}

@media screen and (max-width: 768px) {
    #bodywrapper {
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: 20vw 30vw 30vw 20vw;
        grid-template-rows: repeat(auto-fill, 50vh);
    
        background: #C8C6BF;
    }
    .hiddenLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25vw;
        margin: 2%;
    }
    .hiddenImg {
        width: 100%;
    }
    .displaywrapper {
        grid-column: 1 / end;
        grid-row: 1 / 2;
        margin-top: 5vh;
    }
    .displayImg {
        width: 30%;
    }
    .tantGimg {
        grid-column: 2 / end;
        grid-row: 2 / 3;
        position: relative;
        left: 40%; top: -5%;
        width: 70%;
    }
    .aboutMeDiv {
        grid-column: 1 / end;
        grid-row: 2 / 3;
        position: relative;
        top: -20%; right: 5%;

        padding: 20px;
    }
    .new_gallery {
        grid-row: 5 / 6;
        position: relative;
        top: 15%;
    }
    .rowGallery {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .contactBtn {
        width: 55vw;
        
    }

    #navigationDiv {
        display: none;
    }

    .hamburger {
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        /* border: black solid 1px;
        border-radius: 100%;
        background: white; */
        background: none;
        border: none;
        cursor: pointer;
        
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        visibility: visible;
        scale: 2;
      }
      .closeIcon {
        display: none;
      }
      .menu {
        position: fixed;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(2px);
        color: white;
        list-style: none;
        padding-top: 4rem;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .showMenu {
        transform: translateY(0);
      }
      .menuItem {
        display: block;
        margin: 2rem 4rem;
        font-size: 1.8rem;
        color: white;
        text-decoration: none;
      }
      .menuItem:hover {
        text-decoration: underline;
      }
}